// Add SSDP brand colors to map
// Adding to map has to be done BEFORE importing bootstrap
$theme-colors: (
  "john-walsh-ssdp": #136F8D,
  "teal-ssdp": #17BEBB,
  "chartreuse-ssdp": #DAF702,
  "orange-ssdp": #FAA732,
  "navy-ssdp": #003249,
  "gray-ssdp": #636467
);

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base: 'Open Sans', sans-serif;

// Option A: Include all of Bootstrap

@import "./bootstrap/bootstrap";

// Import Montserrat font
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Import Open Sans Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Set HTML to Open Sans default
html {
    font-family: 'Open Sans', sans-serif;
}

// Set all headings to Montserrat
h1, h2, h3, h4, h5, h6, .nav-link {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

// Set heading colors

h1 {
  color: #136F8D;
}

h2 {
  color: #636467;
}

h3 {
  color: #FAA732;
}

h4 {
  color: #136F8D;
}

h5 {
  color: #003249;
}
