<div class="container">
<div class="row">
  <div class="col">
    <h1>Board of Directors</h1>
    <hr />
    <p>Students for Sensible Drug Policy (SSDP) is governed by our Board of Directors and our Board of Trustees, a designated body of the Board of Directors. Together, they are responsible for crafting strategy for the organization, overseeing compliance and financial affairs, and overseeing SSDP’s Executive Director.</p>
    <p> To view Students for Sensible Drug Policy’s bylaws, click here. </p>
  </div>
</div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <img src="IsmailAli.jpg" />
      <span>Ismail Ali '16</span>
      <span>Chair</span>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>

    <div class="col-sm-2">
      <img src="AmyHildebrand.jpg" />
      <span>Amy Hildebrand '16</span>
      </span>Vice Chair</span>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-sm-2">
      <img src="ZaneBader.jpg" />
      <span>Zane Bader '15</span>
      <span>Secretary</span>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-sm-2">
      <img src="JuanaBoateng.jpg" />
      <span>Juana Boateng '15</span>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-sm-2">
      <img src="JamesGould.jpg" />
      <span>James Gould '15</span>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <img src="RichardHartnell.jpg" />
      <span>Richard Hartnell '16</span>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-sm-2">
      <img src="RobertHofmann.jpg" />
      <span>Robert Hofmann '16</span>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
      <div class="col-sm-2">
        <img src="KatMurti.jpg" />
        <span>Kat Murti '09</span>
        <div class="board-social">
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      <div class="col-sm-2">
        <img src="EvanNison.jpg" />
        <span>Evan Nison '09</span>
        <div class="board-social">
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      <div class="col-sm-2">
        <img src="OdunolaOladejo.jpg" />
        <span>Odunola Oladejo '17</span>
        <div class="board-social">
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>

      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
          <img src="EmmaRodriguezRomero.jpg" />
          <span>Emma Rodriguez Romero '10</span>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm-2">
          <img src="EricSterling.jpg" />
          <span>Eric Sterling '98</span>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm-2">
          <img src="LeslieTempleton.jpg" />
          <span>Leslie Templeton '16</span>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm-2">
          <img src="RileyTillitt.jpg" />
          <span>Riley Tillitt '16'</span>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm-2">
          <img src="betty_aldworth_color-1.jpg" />
          <span>Betty Aldworth*</span>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
