{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<div class="container">
<div class="row">
  <div class="col">
    <h1>Board of Directors</h1>
    <hr />
    <p>Students for Sensible Drug Policy (SSDP) is governed by our Board of Directors and our Board of Trustees, a designated body of the Board of Directors. Together, they are responsible for crafting strategy for the organization, overseeing compliance and financial affairs, and overseeing SSDP’s Executive Director.</p>
    <p> To view Students for Sensible Drug Policy’s bylaws, click here. </p>
  </div>
</div>
  <div class="row">

    <div class="col-sm">
      <img style="width:100%"src="img/IsmailAli.jpg" />
      <p>Ismail Ali '16</p>
      <p>Chair</p>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>

    <div class="col-sm">
      <img style="width:100%"src="img/AmyHildebrand.jpg" />
      <p>Amy Hildebrand '16</p>
      </p>Vice Chair</p>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-sm">
      <img style="width:100%"src="img/ZaneBader.jpg" />
      <p>Zane Bader '15</p>
      <p>Secretary</p>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-sm">
      <img style="width:100%"src="img/JuanaBoateng.jpg" />
      <p>Juana Boateng '15</p>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-sm">
      <img style="width:100%"src="img/JamesGould.jpg" />
      <p>James Gould '15</p>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
  
  </div>

  <div class="row">
    <div class="col-sm">
      <img style="width:100%"src="img/RichardHartnell.jpg" />
      <p>Richard Hartnell '16</p>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <div class="col-sm">
      <img style="width:100%"src="img/RobertHofmann.jpg" />
      <p>Robert Hofmann '16</p>
      <div class="board-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
      <div class="col-sm">
        <img style="width:100%"src="img/KatMurti.jpg" />
        <p>Kat Murti '09</p>
        <div class="board-social">
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      <div class="col-sm">
        <img style="width:100%"src="img/EvanNison.jpg" />
        <p>Evan Nison '09</p>
        <div class="board-social">
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      <div class="col-sm">
        <img style="width:100%"src="img/OdunolaOladejo.jpg" />
        <p>Odunola Oladejo '17</p>
        <div class="board-social">
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
          <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
        </div>
      </div>

    </div>

      <div class="row">

        <div class="col-sm">
          <img style="width:100%"src="img/EmmaRodriguezRomero.jpg" />
          <p>Emma Rodriguez Romero '10</p>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm">
          <img style="width:100%"src="img/EricSterling.jpg" />
          <p>Eric Sterling '98</p>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm">
          <img style="width:100%"src="img/LeslieTempleton.jpg" />
          <p>Leslie Templeton '16</p>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm">
          <img style="width:100%"src="img/RileyTillitt.jpg" />
          <p>Riley Tillitt '16'</p>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm">
          <img style="width:100%"src="img/betty_aldworth_color-1.jpg" />
          <p>Betty Aldworth*</p>
          <div class="board-social">
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
          </div>
        </div>

      </div>
      {{ partial "footer.html" . }}
