{{ partial "head.html" . }} {{ partial "nav.html" . }}
<div class="container">
  <div class="row p-1">
    <div class="col">
      <h1>Board of Directors</h1>
      <hr />
      <p style="font-style:italic">Students for Sensible Drug Policy (SSDP) is governed by our Board of Directors and our Board of Trustees, a designated body of the Board of Directors. Together, they are responsible for crafting strategy for the organization, overseeing compliance
        and financial affairs, and overseeing SSDP’s Executive Director.</p>
      <p style="font-style:italic"> To view Students for Sensible Drug Policy’s bylaws, <a href="/bylaws" target="_blank" rel="noopener">click here</a>.</p>
    </div>
  </div>
  <div class="row p-1">
    {{ range .Pages}}
    <div class="col-sm-3">
      <img style="width: 100%" src = "{{.Params.headshot}}" />
      <div class="board-name">{{.Params.name}}</div>
        <div class="board-title">{{.Params.title}}</div>
        <div class="board-social">
          <a href="mailto:{{.Params.email}}" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
        </div>
        <hr />
        <div style="text-align: center"><a href="{{ .RelPermalink }}">Bio ></a></div>
    </div>
    {{ end}}
  </div>
</div>
{{ partial "footer.html" . }}
