{{ partial "head.html" . }}
{{ partial "nav.html" . }}


<style>
  /** Responsive Tabs CSS **/

  .r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
  }

  .r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
  }

  .r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
    height: 200px;
  }

  .r-tabs .r-tabs-accordion-title {
    display: none;
  }

  .r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
  }

  /* Accordion responsive breakpoint */

  @media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
      display: none;
    }

    .r-tabs .r-tabs-accordion-title {
      display: block;
    }
  }

  /* Tabs container */

  .r-tabs {
    position: relative;

    background-color: #17BEBB;

    border-top: 1px solid #17BEBB;
    border-right: 1px solid #17BEBB;
    border-left: 1px solid #17BEBB;
    border-bottom: 4px solid #17BEBB;
    border-radius: 4px;

  }

  /* Tab element */

  .r-tabs .r-tabs-nav .r-tabs-tab {
    position: relative;
    background-color: #17BEBB;
  }

  /* Tab anchor */

  .r-tabs .r-tabs-nav .r-tabs-anchor {
    display: inline-block;
    padding: 10px 12px;

    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }

  /* Disabled tab */

  .r-tabs .r-tabs-nav .r-tabs-state-disabled {
    opacity: 0.5;
  }

  /* Active state tab anchor */

  .r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    color: #17BEBB;
    text-shadow: none;

    background-color: white;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  /* Tab panel */

  .r-tabs .r-tabs-panel {
    background-color: white;

    border-bottom: 4px solid white;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

  }

  /* Accordion anchor */

  .r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    display: block;
    padding: 10px;

    background-color: #17BEBB;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-size: 14px;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  /* Active accordion anchor */

  .r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #fff;
    color: #17BEBB;
    text-shadow: none;
  }

  /* Disabled accordion button */

  .r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
    opacity: 0.5;
  }

  /* Buttons */

  button {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    line-height: 100%;

    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    font-weight: bold;

    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #17BEBB;
    box-shadow: 0px 3px 0px 0px #00ab94;

    cursor: pointer;
  }

  /* Info bar */

  .info {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 300px;
    line-height: 100%;

    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    color: #17BEBB;
    border: 2px solid #00ab94;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;

    cursor: pointer;
  }

  .report-img {
    float: left;
    margin-right: 3rem;
    max-width: 150px;
  }

  .navbar-toggler {
    box-shadow: none;
  }
  .r-tabs-nav li {
    width: 33%;
    text-align: center;
  }

  .r-tabs-nav {
    margin: 0 auto;
  }
</style>

<div class="container" style="height: 100vh">
  <h1 class="p-2">Our Campaigns</h1>
  <hr class="bg-gray-ssdp">
  <span class="text-gray-ssdp" style="font-style:italic">SSDP members advocate to replace the war on drugs with policies rooted in evidence, compassion,
and human rights because the war on drugs is a war one us. Here’s how we do it.</span>
  <div id="responsiveTabsDemo" class="mt-5">
    <ul>
      <li><a href="#tab-1"> Campus Change </a></li>
      <li><a href="#tab-2"> Call 911 Good Samaritan Policies </a></li>
      <li><a href="#tab-3"> Access to Harm Reduction </a></li>
      <li><a href="#tab-4"> Marijuana Policy Reform </a></li>
      <li><a href="#tab-5"> Psychedelic Policy Reform </a></li>
      <li><a href="#tab-6"> End Student Drug testing </a></li>
      <li><a href="#tab-7"> Higher Education Act Reform </a></li>
      <li><a href="#tab-8"> Amend the Rave Act </a></li>
      <li><a href="#tab-9"> Global Drug Policy </a></li>
      <li><a href="#tab-10"> Confidential Informant Protections </a></li>
      <li><a href="#tab-11"> Drug Decriminalization </a></li>
      <li><a href="#tab-12"> Lowering the Drinking Age </a></li>


    </ul>
    <div id="tab-1">
    </div>
    <div id="tab-2">
    </div>
    <div id="tab-3">
    </div>
    <div id="tab-4">
    </div>
    <div id="tab-5">
    </div>
    <div id="tab-6">
    </div>
    <div id="tab-7">
    </div>
    <div id="tab-8">
    </div>
    <div id="tab-9">
    </div>
    <div id="tab-10">
    </div>
    <div id="tab-11">
    </div>
    <div id="tab-12">
    </div>
  </div>
</div>

{{partial "footer.html" . }}
<script src="js/jquery.responsiveTabs.min.js"></script>

<script>
  $('#responsiveTabsDemo').responsiveTabs({
    startCollapsed: 'accordion'
  });
</script>
