{{ partial "head.html" . }} {{ partial "nav.html" . }}
<style>
.btn-link {
  color: #636467;
  font-weight:700;
  text-transform: uppercase;
}
</style>
<div class="container">
<div id="accordion" class="pt-3 pb-3">
  <!-- Campus change card -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Campus Change
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="single_tab_div resp-tab-content resp-tab-content-active" rel-title="Campus Change" rel-icon="icon icon-refresh-2" aria-labelledby="tab_item-0" style="display: block;"><h2 class="boc_heading  al_left  " style="margin-bottom: 20px;margin-top: 0px;color: #333333;"><span><strong>Campus Change Campaign:&nbsp;</strong>Be the sensible voice on your campus</span></h2><div class="boc_divider_holder"><div class="boc_divider  " style="margin-top: 20px;margin-bottom: 20px;height: 2px;background: #eeeeee;"></div></div>
        	<div class="wpb_text_column wpb_content_element ">
        		<div class="wpb_wrapper">
        			<p>The Issue<br>
        We all know that the War on Drugs is really a war on people, especially students. Whether it is being suspended for a small amount of cannabis, being harassed by campus police, or not feeling empowered to call for help during a drug-related emergency, many SSDP members first witnessed the harms caused by the drug war on their college campuses. As students on college campuses, SSDPers have a unique opportunity to take the lead in formulating and enacting alternative drug policies.</p>
        <p>SSDP was founded on the principle that no one should be denied fair access to an education because of drug use, and policy reform at the campus level remains a key part of our work as a network. While there are plenty of organizations out there working to end the War on Drugs at municipal, state, federal, and international levels, none have been as successful as SSDP at changing drug policies on college campuses. SSDP is the place students can go to when they feel they have no other supporters on campus, and serves an essential function as a safe space to openly talk about policies around drug without stigma. We provide both an opposing voice to the status quo that many campus administrations prop up and a platform for fostering new ideas around how to make college campuses safer for people who use drugs.</p>
        <p>This toolkit will go over some of the most common problems our members see with campus drug policies and offer some ideas for how to start engaging campus stakeholders on these issues. It will also provide some resources for getting campaigns up and running. As always, an SSDPers best resource is going to be their Outreach Coordinator, so please be sure to coordinate with them as well as your chapter develops a plan to change campus drug policies.</p>
        <p>SSDP’s Position<br>
        Colleges and universities are beholden to protecting students health and safety and are able to most effectively do so through proven, evidence-based harm reduction and public health strategies. Colleges — places where evidence and inquiry should be valued most highly — should adopt policies which do not punish students with threats of eviction, suspension, or other harsh measures which undermine students’ ability to access education. Such measures might include:</p>
        <ul>
        <li>911 Good Samaritan Policies<br>
        Prison Divestment<br>
        Dorm Eviction<br>
        Judicial Process on Campus<br>
        Local Law Enforcement Involvement in Enforcing Campus Policies<br>
        Marijuana/Alcohol Equalization<br>
        Off-Campus Jurisdiction for Drug Policies<br>
        Access to Medical Marijuana on Campus<br>
        Parental Notification Policies<br>
        Safe Ride Programs<br>
        Access to Treatment &amp; Prevention Services</li>
        </ul>
        <p>SSDP has developed a <a href="http://ssdp.org/campus-policy-gradebook/">Campus Policy Gradebook</a> that grades schools on a comprehensive rubric. SSDP members are encouraged to submit updates to their school’s grades every year to demonstrate the progress (or lack of progress) their campus is making on implementing safer policies on drugs.</p>
        <h3>Campaign Toolkit &amp; Resources</h3>
        <p><iframe style="width: 100%; height: 600px; border: 0;" src="https://docs.google.com/document/d/e/2PACX-1vSfhdtHL-9r8U4lRPmaDWsrqpWwy2LlCMPHP_jcdL3Ri7k7Sq0RSsdMbt2s0jcmOOxrl0yQOGrztzcK/pub?embedded=true"></iframe><iframe style="width: 100%; height: 600px; border: 0;" src="https://drive.google.com/embeddedfolderview?id=0B7fh6jX33lH5a1lTaGV4bVE4azg#grid"></iframe></p>

        		</div>
        	</div><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div>      </div>
    </div>
  </div>
  <!-- Call 911 Good Samaritan card -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Call 911 Good Samaritan POlicies
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="single_tab_div resp-tab-content resp-tab-content-active" rel-title="Call 911 Good Samaritan Policies" rel-icon="icon icon-ambulance" aria-labelledby="tab_item-1" style="display: block;"><h2 class="boc_heading  al_left  " style="margin-bottom: 20px;margin-top: 0px;color: #333333;"><span> <strong>CALL 911 GOOD SAMARITAN POLICIES:</strong>&nbsp;Calling for help shouldn’t be a crime</span></h2><div class="boc_divider_holder"><div class="boc_divider  " style="margin-top: 20px;margin-bottom: 20px;height: 2px;background: #eeeeee;"></div></div>
        	<div class="wpb_text_column wpb_content_element ">
        		<div class="wpb_wrapper">
        			<h3>The Issue</h3>
        <p>A campus Good Samaritan Policy (GSP) is a life-saving measure designed to prevent students from hesitating to call for medical assistance in the event of a medical emergency related to alcohol or other drugs by ensuring that, in an emergency situation, neither the caller nor the person experiencing overdose is exposed to academic or legal sanctions.</p>
        <p>Consumption of alcohol and other drugs is widespread, particularly on many college and university campuses. Dangerous drug prohibitions and legal age of consumption contribute to both binge drinking and consumption of drugs of unknown purity and potency, sometimes leading to overdose. Even though alcohol poisoning can lead to a fatal outcome, many students refrain from contacting emergency services due to a threat of judicial consequences resulting from enforcement of the minimum drinking age or other policy violations. Effective policies protect students whether they are using alcohol or other drugs.</p>
        <p>Colleges and universities without a GSP in place increase the likelihood that life­-threatening emergencies on campus become fatal because, fearing harsh disciplinary responses to substance use violations, many students are hesitant to alert authorities during medical emergencies.</p>
        <p>Good Samaritan Policies are critical harm reduction tools which should be fully implemented at the campus, local, and state level.</p>
        <p>A comprehensive GSP Includes:</p>
        <ul>
        <li>A clearly worded, easily accessible, effectively enforced policy which is well known among the student body, campus administration, and campus public safety officers. GSPs are only effective if they guarantee amnesty in writing (usually in the student code of conduct) and the policy is widely publicized. If a school has the unwritten practice of excusing students from punitive consequences during emergency situations, but students don’t know about it, then it is like having no such policy at all.</li>
        <li>Amnesty from disciplinary actions for the person experiencing the medical emergency, the person(s) who notify authorities, and any other bystanders, as a maximum effort to promote fast action responses. Policies that do not cover all students are ineffective, it is important that protection be given to everyone.</li>
        <li>Amnesty from disciplinary action for all violation of all substance policies, not just alcohol policy violations. A GSP that only grants amnesty for alcohol-related emergencies is incomplete as it does not address medical emergencies related to other substances.</li>
        <li>Applies educational sanctions vs. disciplinary sanctions. Students are less reluctant to call for medical assistance as they aren’t fearing expulsion or suspension. In addition, educational sanctions may provide students with the information they need to avoid medical emergencies in the future and to share this information with their peers as a peer educator.</li>
        </ul>
        <h3>Campaign Toolkit &amp; Resources</h3>
        <p><iframe style="width: 100%; height: 600px; border: 0;" src="https://docs.google.com/document/d/e/2PACX-1vT7M0eJZlsPTGHajaQQ-GBU0P7rBEKyyetRmKdujNSormCJHTHgGem7tjgy2E2aEF6uvs4SijfoUmBj/pub?embedded=true"></iframe><br>
        <iframe style="width: 100%; height: 600px; border: 0;" src="https://drive.google.com/embeddedfolderview?id=0B7fh6jX33lH5VF9xbGF6WjV6REU#grid"></iframe></p>

        		</div>
        	</div>
        </div>      </div>
    </div>
  </div>
  <!-- Harm reduction card -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Access to Harm Reduction
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- Marijuana card -->
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Marijuana Policy Reform
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- Psychedelic card -->
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
          Psychedelic Policy Reform
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- Student drug testing card -->
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
          End Student Drug Testing
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- HEA Reform card -->
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
          Higher Education Act Reform
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- Amend the Rave Act Card -->
  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
          Amend the Rave Act
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- Global Drug Policy Card -->
  <div class="card">
    <div class="card-header" id="headingNine">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
          Global Drug Policy
        </button>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- Confidential Informants Card -->
  <div class="card">
    <div class="card-header" id="headingTen">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
          Confidential Informant Protections
        </button>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- Drug Decrim card -->
  <div class="card">
    <div class="card-header" id="headingEleven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
          Drug Decriminalization
        </button>
      </h5>
    </div>
    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- Lower Drinking Age Card -->
  <div class="card">
    <div class="card-header" id="headingTwelve">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
          Lowering the Drinking Age
        </button>
      </h5>
    </div>
    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
</div>
{{partial "footer.html" . }}
