{{ partial "head.html" . }} {{ partial "nav.html" . }}
<style>
  h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">Chapters</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="/chapters/international"><h2 style="text-align: center">International Chapters</h2></a>
      <h2 style="text-align: center"> United States Chapters by Region
</h2>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-sm-3">
      <a href="/chapters/heartland"><h3>Heartland</h3></a>
      <a href="/chapters/heartland/iowa"><div class="text-center">Iowa</div></a>
      <a href="/chapters/heartland/kansas"><div class="text-center">Kansas</div></a>
      <a href="/chapters/heartland/minnesota"><div class="text-center">Minnesota</div></a>
      <a href="/chapters/heartland/missouri"><div class="text-center">Missouri</div></a>
      <a href="/chapters/heartland/nebraska"><div class="text-center">Nebraska</div></a>
      <a href="/chapters/heartland/north-dakota"><div class="text-center">North Dakota</div></a>
      <a href="/chapters/heartland/south-dakota"><div class="text-center">South Dakota</div></a>
    </div>
    <div class="col-sm-3">
      <a href="/chapters/mid-atlantic"><h3>Mid-Atlantic</h3></a>
      <a href="/chapters/mid-atlantic/delaware"><div class="text-center">Delaware</div></a>
      <a href="/chapters/mid-atlantic/district-of-columbia"><div class="text-center">District of Columbia</div></a>
      <a href="/chapters/mid-atlantic/maryland"><div class="text-center">Maryland</div></a>
      <a href="/chapters/mid-atlantic/new-jersey"><div class="text-center">New Jersey</div></a>
      <a href="/chapters/mid-atlantic/pennsylvania"><div class="text-center">Pennsylvania</div></a>
      <a href="/chapters/mid-atlantic/virginia"><div class="text-center">Virginia</div></a>
      <a href="/chapters/mid-atlantic/west-virginia"><div class="text-center">West Virginia</div></a>
    </div>
    <div class="col-sm-3">
      <a href="/chapters/midwest"><h3>Midwest</h3></a>
      <a href="/chapters/midwest/illinois"><div class="text-center">Illinois</div></a>
      <a href="/chapters/midwest/indiana"><div class="text-center">Indiana</div></a>
      <a href="/chapters/midwest/kentucky"><div class="text-center">Kentucky</div></a>
      <a href="/chapters/midwest/michigan"><div class="text-center">Michigan</div></a>
      <a href="/chapters/midwest/ohio"><div class="text-center">Ohio</div></a>
      <a href="/chapters/midwest/wisconsin"><div class="text-center">Wisconsin</div></a>
    </div>
    <div class="col-sm-3">
      <a href="/chapters/mountain"><h3>Mountain</h3></a>
      <a href="/chapters/mountain/colorado"><div class="text-center">Colorado</div></a>
      <a href="/chapters/mountain/idaho"><div class="text-center">Idaho</div></a>
      <a href="/chapters/mountain/montana"><div class="text-center">Montana</div></a>
      <a href="/chapters/mountain/nevada"><div class="text-center">Nevada</div></a>
      <a href="/chapters/mountain/utah"><div class="text-center">Utah</div></a>
      <a href="/chapters/mountain/wyoming"><div class="text-center">Wyoming</div></a>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-sm-3">
      <a href="/chapters/northeast"><h3>Northeast</h3></a>
      <a href="/chapters/northeast/connecticut"><div class="text-center">Connecticut</div></a>
      <a href="/chapters/northeast/maine"><div class="text-center">Maine</div></a>
      <a href="/chapters/northeast/massachusetts"><div class="text-center">Massachusetts</div></a>
      <a href="/chapters/northeast/new-hampshire"><div class="text-center">New Hampshire</div></a>
      <a href="/chapters/northeast/new-york"><div class="text-center">New York</div></a>
      <a href="/chapters/northeast/rhode-island"><div class="text-center">Rhode Island</div></a>
      <a href="/chapters/northeast/vermont"><div class="text-center">Vermont</div></a>
    </div>
    <div class="col-sm-3">
      <a href="/chapters/southeast"><h3>Southeast</h3></a>
      <a href="/chapters/southeast/alabama"><div class="text-center">Alabama</div></a>
      <a href="/chapters/southeast/arkansas"><div class="text-center">Arkansas</div></a>
      <a href="/chapters/southeast/florida"><div class="text-center">Florida</div></a>
      <a href="/chapters/southeast/georgia"><div class="text-center">Georgia</div></a>
      <a href="/chapters/southeast/louisiana"><div class="text-center">Louisiana</div></a>
      <a href="/chapters/southeast/mississippi"><div class="text-center">Mississippi</div></a>
      <a href="/chapters/southeast/north-carolina"><div class="text-center">North Carolina</div></a>
      <a href="/chapters/southeast/south-carolina"><div class="text-center">South Carolina</div></a>
      <a href="/chapters/southeast/tennessee"><div class="text-center">Tennessee</div></a>
    </div>
    <div class="col-sm-3">
      <h3>Southwest</h3>
      <div class="text-center">Arizona</div>
      <div class="text-center">New Mexico</div>
      <div class="text-center">Oklahoma</div>
      <div class="text-center">Texas</div>
    </div>
    <div class="col-sm-3">
      <h3>Pacific</h3>
      <div class="text-center">Alaska</div>
      <div class="text-center">California</div>
      <div class="text-center">Hawai'i</div>
      <div class="text-center">Oregon</div>
      <div class="text-center">Washington</div>
    </div>
  </div>
</div>
{{partial "footer.html" . }}
