{{ partial "head.html" . }} {{ partial "nav.html" . }}
<style>
h3 {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

</style>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">Chapters</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 style="text-align: center">International Chapters</h2>
      <h2 style="text-align: center"> United States Chapters by Region
</h2>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-sm-3">
      <h3>Heartland</h3>
        <div class="text-center">Iowa</div>
        <div class="text-center">Kansas</div>
        <div class="text-center">Minnesota</div>
        <div class="text-center">Missouri</div>
        <div class="text-center">Nebraska</div>
        <div class="text-center">North Dakota</div>
        <div class="text-center">South Dakota</div>
    </div>
    <div class="col-sm-3">
      <h3>Mid-Atlantic</h3>
      <div class="text-center">Delaware</div>
      <div class="text-center">District of Columbia</div>
      <div class="text-center">Maryland</div>
      <div class="text-center">New Jersey</div>
      <div class="text-center">Pennsylvania</div>
      <div class="text-center">Virginia</div>
      <div class="text-center">West Virginia</div>
    </div>
    <div class="col-sm-3">
      <h3>Midwest</h3>
      <div class="text-center">Illinois</div>
      <div class="text-center">Indiana</div>
      <div class="text-center">Kentucky</div>
      <div class="text-center">Michigan</div>
      <div class="text-center">Ohio</div>
      <div class="text-center">Wisconsin</div>
    </div>
    <div class="col-sm-3">
      <h3>Mountain</h3>
      <div class="text-center">Colorado</div>
      <div class="text-center">Idaho</div>
      <div class="text-center">Montana</div>
      <div class="text-center">Nevada</div>
      <div class="text-center">Utah</div>
      <div class="text-center">Wyoming</div>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-sm-3">
      <h3>Northeast</h3>
      <div class="text-center">Connecticut</div>
      <div class="text-center">Maine</div>
      <div class="text-center">Massachusetts</div>
      <div class="text-center">New Hampshire</div>
      <div class="text-center">New York</div>
      <div class="text-center">Rhode Island</div>
      <div class="text-center">Vermont</div>
    </div>
    <div class="col-sm-3">
      <h3>Southeast</h3>
    </div>
    <div class="col-sm-3">
      <h3>Southwest</h3>
    </div>
    <div class="col-sm-3">
      <h3>Pacific</h3>
    </div>
  </div>
</div>
{{partial "footer.html" . }}
