{{ partial "head.html" . }} {{ partial "nav.html" . }}
<style>
  h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">Chapters</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 style="text-align: center"><a href="/chapters/international">International Chapters</a></h2>
      <h2 style="text-align: center"> United States Chapters by Region
</h2>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-sm-3">
      <h3><a href="/chapters/heartland">Heartland</a></h3>
      <div class="text-center"><a href="/chapters/heartland/iowa">Iowa</a></div>
      <div class="text-center"><a href="/chapters/heartland/kansas">Kansas</a></div>
      <div class="text-center"><a href="/chapters/heartland/minnesota">Minnesota</a></div>
      <div class="text-center"><a href="/chapters/heartland/missouri">Missouri</a></div>
      <div class="text-center"><a href="/chapters/heartland/nebraska">Nebraska</a></div>
      <div class="text-center"><a href="/chapters/heartland/north-dakota">North Dakota</a></div>
      <div class="text-center"><a href="/chapters/heartland/south-dakota">South Dakota</a></div>
    </div>
    <div class="col-sm-3">
      <a href="/chapters/mid-atlantic"><h3>Mid-Atlantic</a></h3>
      <a href="/chapters/mid-atlantic/delaware"><div class="text-center">Delaware</a></div>
      <a href="/chapters/mid-atlantic/district-of-columbia"><div class="text-center">District of Columbia</a></div>
      <a href="/chapters/mid-atlantic/maryland"><div class="text-center">Maryland</a></div>
      <a href="/chapters/mid-atlantic/new-jersey"><div class="text-center">New Jersey</a></div>
      <a href="/chapters/mid-atlantic/pennsylvania"><div class="text-center">Pennsylvania</a></div>
      <a href="/chapters/mid-atlantic/virginia"><div class="text-center">Virginia</a></div>
      <a href="/chapters/mid-atlantic/west-virginia"><div class="text-center">West Virginia</a></div>
    </div>
    <div class="col-sm-3">
      <h3><a href="/chapters/midwest">Midwest</a></h3>
      <div class="text-center"><a href="/chapters/midwest/illinois">Illinois</a></div>
      <div class="text-center"><a href="/chapters/midwest/indiana">Indiana</a></div>
      <div class="text-center"><a href="/chapters/midwest/kentucky">Kentucky</a></div>
      <div class="text-center"><a href="/chapters/midwest/michigan">Michigan</a></div>
      <div class="text-center"><a href="/chapters/midwest/ohio">Ohio</a></div>
      <div class="text-center"><a href="/chapters/midwest/wisconsin">Wisconsin</a></div>
    </div>
    <div class="col-sm-3">
      <h3><a href="/chapters/mountain">Mountain</a></h3>
      <div class="text-center"><a href="/chapters/mountain/colorado">Colorado</a></div>
      <div class="text-center"><a href="/chapters/mountain/idaho">Idaho</a></div>
      <div class="text-center"><a href="/chapters/mountain/montana">Montana</a></div>
      <div class="text-center"><a href="/chapters/mountain/nevada">Nevada</a></div>
      <div class="text-center"><a href="/chapters/mountain/utah">Utah</a></div>
      <div class="text-center"><a href="/chapters/mountain/wyoming">Wyoming</a></div>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-sm-3">
      <h3><a href="/chapters/northeast">Northeast</a></h3>
      <div class="text-center"><a href="/chapters/northeast/connecticut">Connecticut</a></div>
      <div class="text-center"><a href="/chapters/northeast/maine">Maine</a></div>
      <div class="text-center"><a href="/chapters/northeast/massachusetts">Massachusetts</a></div>
      <div class="text-center"><a href="/chapters/northeast/new-hampshire">New Hampshire</a></div>
      <div class="text-center"><a href="/chapters/northeast/new-york">New York</a></div>
      <div class="text-center"><a href="/chapters/northeast/rhode-island">Rhode Island</a></div>
      <div class="text-center"><a href="/chapters/northeast/vermont">Vermont</a></div>
    </div>
    <div class="col-sm-3">
      <h3><a href="/chapters/southeast">Southeast</a></h3>
      <div class="text-center"><a href="/chapters/southeast/alabama">Alabama</a></div>
      <div class="text-center"><a href="/chapters/southeast/arkansas">Arkansas</a></div>
      <div class="text-center"><a href="/chapters/southeast/florida">Florida</a></div>
      <div class="text-center"><a href="/chapters/southeast/georgia">Georgia</a></div>
      <div class="text-center"><a href="/chapters/southeast/louisiana">Louisiana</a></div>
      <div class="text-center"><a href="/chapters/southeast/mississippi">Mississippi</a></div>
      <div class="text-center"><a href="/chapters/southeast/north-carolina">North Carolina</a></div>
      <div class="text-center"><a href="/chapters/southeast/south-carolina">South Carolina</a></div>
      <div class="text-center"><a href="/chapters/southeast/tennessee">Tennessee</a></div>
    </div>
    <div class="col-sm-3">
      <h3><a href="/chapters/southwest">Southwest</a></h3>
      <div class="text-center"><a href="/chapters/southwest/arizona">Arizona</a></div>
      <div class="text-center"><a href="/chapters/southwest/new-mexico">New Mexico</a></div>
      <div class="text-center"><a href="/chapters/southwest/oklahoma">Oklahoma</a></div>
      <div class="text-center"><a href="/chapters/southwest/texas">Texas</a></div>
    </div>
    <div class="col-sm-3">
      <h3><a href="/chapters/pacific">Pacific</a></h3>
      <div class="text-center"><a href="/chapters/pacific/alaska">Alaska</a></div>
      <div class="text-center"><a href="/chapters/pacific/alaska">California</a></div>
      <div class="text-center"><a href="/chapters/pacific/alaska">Hawai'i</a></div>
      <div class="text-center"><a href="/chapters/pacific/alaska">Oregon</a></div>
      <div class="text-center"><a href="/chapters/pacific/alaska">Washington</a></div>
    </div>
  </div>
</div>
{{partial "footer.html" . }}
