{{ partial "head.html" . }} {{ partial "nav.html" . }}
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .history-text,
  .history-timeline {
    grid-column: 1 / -1;
  }

  @media all and (min-width: 700px) {}
</style>

<div class="grid">
  <div class="history-text p-5">
    <h1>History</h1>
    <p>In 1998, a few dozen students who had been chatting online became the first cohort of Students for Sensible Drug Policy. They were members of the DARE generation who understood the broad failures of the drug war; they sought each other out to raise
      their voices against a broken system and start making sense.</p>
    <p>Since that time, we’ve expanded our presence to more than 300 campuses in 32 countries and have mobilized tens of thousands of young people to advocate for a more sensible approach to drug laws. Countless policy reforms led or supported by SSDPers
      now protect people from punishment if they call for help during an overdose, help students access education regardless of drug citations, and provide safe access to cannabis for adult or medical use.</p>
    <p>We invite you to explore our history and significant milestones since our inception.</p>
  </div>
  <div class="history-timeline">
    <div class="container py-2">
      <!-- timeline item 1 -->
      <div class="row no-gutters">
        <!-- timeline item 1 event content -->
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-muted">1996 - 1997</h4>
              <p class="card-text">In the fall of 1996, members of the Student Drug Reform Movement (SDRM) began to chat online using a Drug Reform Coordination Network (DRCNet) discussion page.</p>
            </div>
          </div>
        </div>
      </div>
      <!--/row-->
      <!-- timeline item 2 -->
      <div class="row no-gutters">
        <div class="col-sm py-2">
          <div class="card border-success shadow">
            <div class="card-body">
              <div class="float-right text-success small">1997</div>
              <p class="card-text">
                In 1997, the Rochester Cannabis Coalition (RCC) at the Rochester Institute of Technology applied to become the first official student organization dedicated to ending the “War on Drugs.” RIT denied RCC’s application and ultimately expelled the lead organizer,
                Shea Gunther ‘98, who would go on to become an SSDP founder</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
                <span class="badge badge-pill bg-success">&nbsp;</span>
            </h5>
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col-sm">
          <!--spacer-->
        </div>
      </div>
      <!--/row-->
      <!-- timeline item 3 -->
      <div class="row no-gutters">
        <div class="col-sm">
          <!--spacer-->
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <div class="float-right text-muted small">1998</div>
              <p>
                SDRM members at University of Massachusetts Amherst hosted a conference for approximately 50 students, many of which would go on to join Shea in founding SSDP. On October 1, 1998, the Rochester Cannabis Coalition renamed themselves “Students for Sensible
                Drug Policy,” marking our official founding date.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <!-- timeline item 1 event content -->
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-muted">1999</h4>
              <p class="card-text">That conference led to the First National Gathering in Washington, DC the following year, where attendees decided collectively to form SSDP into a national organization and elect a Board of Directors comprised of one representative from
                each of the five schools that had chapters operating under the SSDP name (Hampshire College, University of Wisconsin-Madison, George Washington University, American University and Rochester Institute of Technology). SSDP chapters organized
                and undertook a series of actions and events, which contributed to partial repeal of the Higher Education Act Aid Elimination Penalty (HEAAEP), our first political victory.</p>
            </div>
          </div>
        </div>
      </div>
      <!--/row-->
      <div class="row no-gutters">
        <div class="col-sm">
          <!--spacer-->
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <div class="float-right text-muted small">January, 2000</div>
              <h4 class="card-title">First National Action</h4>
              <p>At the College Convention 2000 in New Hampshire, SSDP students protested the HEAAEP.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <div class="float-right text-muted small">Spring, 2000
              </div>
              <h4 class="card-title">First Loan Replacement Program.</h4>
              <p>Hampshire College instituted the first HEAAEP loan replacement program and its president was the first to come out against the HEAAEP.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
          <div class="row h-50">
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col-sm">
          <!--spacer-->
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm">
          <!--spacer-->
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <div class="float-right text-muted small">February, 2001</div>
              <h4 class="card-title">Rep. Mark Souder (R-IN) confronted about HEAAEP</h4>
              <p>Members of SSDP attended an event to get long-awaited answers from Souder about the HEAAEP legislation he authored.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <div class="float-right text-muted small">March 3, 2001</div>
              <h4 class="card-title">Legislation to Repeal HEAAEP.</h4>
              <p>A coalition of U.S. House Democrats introduced legislation that would repeal a moratorium on federal financial aid to college students with drug convictions, citing denial of aid for 8,162 students that school year.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
          <div class="row h-50">
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col-sm">
          <!--spacer-->
        </div>
      </div>
      <div class="row no-gutters">
        <!-- timeline item 1 event content -->
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-muted">Students vs. Congress, 2001</h4>
              <p class="card-text">“SSDP fights hard-line drug laws that cause thousands to lose their student loans.” An article featuring SSDP appeared in Rolling Stone. HEAAEP victim Marisa Garcia was profiled and the article marked SSDP’s big break into public awareness.</p>
            </div>
          </div>
        </div>
      </div>
      <!--/row-->
      <div class="row no-gutters">
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <div class="float-right text-muted small">Spring, 2001</div>
              <h4 class="card-title">Colleges Urge Change.</h4>

              <p> Five Oregon colleges passed resolutions urging changes to HEAAEP. Thirteen leading education associations representing admissions officers, community and state colleges, financial aid administrators and student groups sent a strongly worded
                letter outlining flaws in the HEAAEP to the head of the DEA..</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
          <div class="row h-50">
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col-sm">
          <!--spacer-->
        </div>
      </div>
      <!-- /row -->
      <div class="row no-gutters">
        <!-- timeline item 1 event content -->
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-muted">April 9, 2002</h4>
              <p class="card-text">Yale Begins Reimbursement. Yale University became the fourth college to reimburse students who had lost aid due to the HEAAEP.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /row -->
      <div class="row no-gutters">
        <div class="col-sm">
          <!--spacer-->
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <div class="float-right text-muted small">2006</div>
              <h4 class="card-title">Partial Repeal of the HEAAEP.</h4>
              <p>Congress, responding to pressure from SSDP and other advocates, scaled back the HEAAEP, taking away its “reach-back effect” so that it would only affect students convicted for offenses that occur while they are enrolled in college and receiving
                aid.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm py-2">
          <div class="card border-success shadow">
            <div class="card-body">
              <h4 class="card-title">Explore Further</h4>
              <p class="card-text">
                Marijuana Today recorded a special podcast episode at SSDP2014, the Students for Sensible Drug Policy International Conference. Featuring Stacia Cosner ‘05, Shaleen Title ‘02, Shea Gunther ‘98, Shawn Heller ‘98, Dan Goldman ‘99 and Kris Krane ‘98 joined
                by host Kris Lotlikar ‘98, the panel discussed how they each became involved in SSDP as they relayed the history of the student organization that has been successfully working to end the Drug War for over 17 years. <a href="http://shoutengine.com/MarijuanaToday/episode-13-history-of-ssdp-4132"
                  rel="noopener" target="_blank">Click here to listen to the podcast</a>. View our collection of archival photographs, materials from demonstrations and actions, news reports, and conference agendas.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
                <span class="badge badge-pill bg-success">&nbsp;</span>
            </h5>
          <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col-sm">
          <!--spacer-->
        </div>
      </div>
      <div class="row no-gutters">
        <!-- timeline item 1 event content -->
        <div class="col-sm py-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Today</h4>
              <p class="card-text">SSDP’s efforts to repeal the HEAAEP provided a model that led to the development of our grassroots activation model and student network. The actions, educational events, and collaborations undertaken to modify the HEA led to – among other
                things – International and Regional SSDP Conferences, that continue to provide students with the best opportunities to become informed advocates. The 2001 Amherst Coffee Ban was among the first student-led and campus-based actions to confront
                the role of drug prohibition campuswide; inventive and thought-provoking campus actions continue to grab students’ attention to illustrate the harms of prohibition. Modeled after the public conversation with Souder in 2002, Students publicly
                pose questions to candidates and elected officials to get them “on the record” about drug policy reform. The DRCNet Listserv lives today as SSDPTalk, a listserv for students, alumni, staff, members, and other stakeholders. To this day,
                SSDP seeks to build bridges with organizations not primarily focused on the “War on Drugs” to end collateral consequences such as over-incarceration, racism, and educational and economic injustice. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
