<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .history-text,
  .history-timeline {
    grid-column: 1 / -1;
  }


  @media all and (min-width: 700px) {}

</style>

<h1>History</h1>
<div class="grid">
  <div class="history-text">
    <p>In 1998, a few dozen students who had been chatting online became the first cohort of Students for Sensible Drug Policy. They were members of the DARE generation who understood the broad failures of the drug war; they sought each other out to raise
      their voices against a broken system and start making sense.</p>
    <p>Since that time, we’ve expanded our presence to more than 300 campuses in 32 countries and have mobilized tens of thousands of young people to advocate for a more sensible approach to drug laws. Countless policy reforms led or supported by SSDPers
      now protect people from punishment if they call for help during an overdose, help students access education regardless of drug citations, and provide safe access to cannabis for adult or medical use.</p>
    <p>We invite you to explore our history and significant milestones since our inception.</p>
  </div>
  <div class="history-timeline">
  </div>
</div>
