{{ partial "head.html" . }} {{ partial "nav.html" . }}
<div class="container">
  <div class="form-wrap">
    <div class="form">
      <form id="become_an_ssdper_about_you_page_new_survey_response_form" class="ajaxForm survey_response_form" method="POST" action="/forms/survey_responses"><input name="authenticity_token" value="CWnseJPmw8Zc4YU1Hiu8enW9G5HYP0cNpilY1tNh9ks=" type="hidden"><input name="page_id" value="2200" type="hidden">
      <h3 class="headline">To me, the most important reason I want to  become a Student for Sensible Drug Policy is:</h3>
      <div class="row">
        <div class="col-md-12">Tell us the kind of work most important to you</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="radio"><label for="survey-choice-2002" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2002" value="2002" type="radio"> I want to change laws and policies</label></div>
          <div class="radio"><label for="survey-choice-2003" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2003" value="2003" type="radio"> I want to educate people about drugs and drug safety</label></div>
          <div class="radio"><label for="survey-choice-2004" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2004" value="2004" type="radio"> I want to build a community of like-minded activists</label></div>
          <div class="radio"><label for="survey-choice-2005" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2005" value="2005" type="radio"> I can't decide, I want to do it all!</label></div>
          <div class="radio"><label for="survey-choice-2006" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2006" value="2006" type="radio"> I don’t know what I’m most excited about, can you help me figure that out?</label></div>
        </div>
      </div>


      <h3 class="headline">Have you ever been a member of a student group?</h3>



      <div class="row">



        <div class="col-md-12">

          <div class="radio">
            <label for="survey-choice-2007" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id user-success" id="survey-choice-2007" value="2007" type="radio"> Yes</label>
          </div>

          <div class="radio">
            <label for="survey-choice-2008" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id user-success" id="survey-choice-2008" value="2008" type="radio"> No</label>
          </div>

          <div class="radio">
            <label for="survey-choice-2013" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id user-success" id="survey-choice-2013" value="2013" type="radio"> No, but I would like to be</label>
          </div>

        </div>



      </div>

<h3 class="headline">Have you ever been a leader of a student group?</h3>



<div class="row">



  <div class="col-md-12">

    <div class="radio">
      <label for="survey-choice-2009" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2009" value="2009" type="radio"> Yes</label>
    </div>

    <div class="radio">
      <label for="survey-choice-2010" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2010" value="2010" type="radio"> No</label>
    </div>

    <div class="radio">
      <label for="survey-choice-2014" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2014" value="2014" type="radio"> No, but I would like to be</label>
    </div>

  </div>



</div>

<h3 class="headline">Have you ever run for or served a student government position?</h3>



<div class="row">



  <div class="col-md-12">

    <div class="radio">
      <label for="survey-choice-2011" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2011" value="2011" type="radio"> Yes</label>
    </div>

    <div class="radio">
      <label for="survey-choice-2012" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2012" value="2012" type="radio"> No</label>
    </div>

    <div class="radio">
      <label for="survey-choice-2015" class="radio"><input name="survey_question_response[survey_question_possible_response_id]" class="survey_question_response_survey_question_possible_response_id" id="survey-choice-2015" value="2015" type="radio"> No, but I would like to</label>
    </div>

  </div>
</div>


      <div class="row">
        <div class="col-md-6"><div class="form-group"><label for="survey_response_email">Email</label><input class="text form-control" id="survey_response_email" name="survey_response[email]" type="email"></div></div>
      </div>
      <div class="row padtop">

        <div class="col-md-12">
          <input class="submit-button btn btn-primary" name="commit" value="Submit" type="submit">
          <div class="form-submit"></div>
        </div>

      </div>

    </form>



    </div>
  </div>
</div>
{{ partial "footer.html" . }}
