{{ partial "head.html" . }} {{ partial "nav.html" . }}
<div class="container">
  <h1>Join the student movement to end drug prohibition</h1>
  <p>A Student for Sensible Drug Policy is a student working toward ending the War on Drugs, and&nbsp; receives training, guidance, materials, and support from SSDP’s <a title="SSDP Staff" href="/staff" target="_blank" rel="noopener noreferrer">professional outreach staff</a>    based in Washington, DC. Becoming an SSDPer takes a little work, but it isn’t prohibitively difficult or time-intensive. Unlike most chapter-based student organizations, <strong>we do not charge our chapters any dues or fees</strong>. We also have
    tons of free (and some close-to-free) useful <a title="SSDP Resources" href="/movement" target="_blank" rel="noopener noreferrer">resources</a> to help you build your chapter, spread the word, lobby for key issues, and actually change drug laws, at
    the local, state, and federal levels (<a title="Campaigns" href="/campaigns/" target="_blank" rel="noopener noreferrer">see our active campaigns here</a>).</p>

  <p class="boc_list_item_text normal">The steps below outline the typical process of starting an SSDP chapter. Every school, chapter, and chapter leader is different, so take this more as a general guide than hard requirements. Stay in touch with your<a href="/staff" target="_blank" rel="noopener noreferrer">Movement Building Fellow</a>&nbsp;as
    you go through the steps and keep us up to date on your progress so we can help with any snags that may come up along the way. We’re here to be a resource for you!</p>
  <p>Not sure if your school already has a chapter? <a href="/chapters">Find out!</a></p>
  <a href='/chapter-faq'>
    <p>Frequently asked questions about starting a chapter</p>
  </a>
  <p>For additional questions, please contact <a href="mailto:outreach@ssdp.org">outreach@ssdp.org</a>.</p>
  <h2>How to join SSDP as a student</h2>
  <p>Our Outreach staff is available to help with everything outlined below and with anything else involved in building and maintaining a chapter. If you have any questions about the chapter start-up process, please <a href="mailto:outreach@ssdp.org">email us</a>.</p>
  <h3>Submit a New Member Inquiry</h3>
  <ul>
    <li> Fill out the <a href="/join#join_form">form</a> below to start the process.</li>
    <li>Once we receive your chapter application, a member of our Outreach team will get in touch with you to help guide you through the steps below and connect you with our resources and other chapter leaders.</li>
  </ul>
  <h3>Learn about SSDP and our available resources</h3>
  <ul>
    <li>Read SSDP’s mission and values statement.</li>
    <li> Check out our extensive collection of resources for student activists, including sample chapter constitutions, printable flyers, press release templates, and more!</li>
    <li> Read our Student Organizing Manual for tips and best practices on building and managing a successful chapter.</li>
    <li>Read our blog to see what we and our chapters have been up to.</li>
    <li>Talk, connect, and share wisdom with SSDP chapter leaders all over the world in the SSDP chapter leaders Facebook group and on the SSDPtalk listserv.</li>
  </ul>
  <h3> Get in touch with your Movement Building Fellow</h3>
  <ul>
    <li> One of our Movement Building Fellows will be in touch with you after you fill out the form to become an SSDPer. If you don’t hear from them within a day or so, feel free to email us.</li>
    <li>Your Movement Building Fellow will talk with you about your interests in drug policy reform and help you get started in one of three change-making pathways: Movement Building Policy Change Peer Education</li>
  </ul>
  <h3>Get Started on Your Path</h3>
  <ul>
    <li>Your Movement Building Fellow will give you the first steps towards making change and ending the War on Drugs – work with them to accomplish the first task in your pathway.</li>
    <li>These tasks may look like, but are not exclusive to:</li>
    <ul>
      <li>Analyzing your school or region’s drug policies</li>
      <li>Hosting your first SSDP meeting</li>
      <li>Starting the first module of the Just Say Know program</li>
    </ul>
  </ul>
  <h3>Get to know our expert staff</h3>
  <ul>
    <li>After you’ve started working on drug policy reform with your Movement Building Fellow, they will connect you with our expert staff. </li>
    <li>Depending on which areas you care most about, you’ll be in touch with a variety of staff members ready to help you build the movement, change policy, educate your peers, or some combination of all those activities.</li>
  </ul>

  <p>The student movement to end the war on drugs is expanding rapidly, and we’re happy to welcome you into that growing movement. Talk to you soon!</p>
  <p style="font-style:italic"> – SSDP’s International Staff</p>
    <div id="join_form" class="form-wrap p-3">
      <div class="form" action="http://d890db3d.ngrok.io" method="post">
        <form id="become_an_ssdper_page_new_signup_form" class="ajaxForm signup_form" method="POST" action="/forms/signups" enctype="multipart/form-data"><input name="authenticity_token" value="riXPUYdodcbRodmUG0GAFdNV5YHGQn0C5Y2KCsuK9OE=" type="hidden"><input name="page_id" value="2196" type="hidden"><input name="return_to" value="https://ssdp.nationbuilder.com/become_an_ssdper" type="hidden">
          <!-- Name -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label for="signup_first_name">First Name</label><input class="text form-control" id="signup_first_name" name="signup[first_name]" type="text"></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label for="signup_last_name">Last Name</label><input class="text form-control" id="signup_last_name" name="signup[last_name]" type="text"></div>
            </div>
          </div>
          <!-- Email and mobile -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label for="signup_email">Email</label><input class="text form-control" id="signup_email" name="signup[email]" type="email"></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label for="signup_mobile_number">Mobile phone</label><input class="text form-control" id="signup_mobile_number" name="signup[mobile_number]" type="tel"></div>
            </div>
          </div>
          <!-- Pronouns and Grad Year -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label for="signup_pronouns">Pronouns</label>
                <input class="text form-control user-success" id="signup_pronouns" name="signup[pronouns]" placeholder="they/them/their" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label for="signup_graduation_year">Graduation Year</label><input class="text form-control user-success" id="signup_graduation_year" name="signup_graduation_year" placeholder="Your Estimated Graduation Year" type="text"></div>
            </div>
          </div>
          <!-- School and School State -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group"><label for="signup_pronouns">School</label>
                <input class="text form-control user-success" id="signup_pronouns" name="signup[school]" placeholder="School Name" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox"><label for="signup_email_opt_in"><input name="signup[email_opt_in]" value="0" type="hidden"><input class="checkbox" checked="checked" id="signup_email_opt_in" name="signup[email_opt_in]" value="1" type="checkbox"> Send me email updates</label></div>
            </div>
            <div class="col-md-6">
              <div class="checkbox"><label for="signup_mobile_opt_in"><input name="signup[mobile_opt_in]" value="0" type="hidden"><input class="checkbox" checked="checked" id="signup_mobile_opt_in" name="signup[mobile_opt_in]" value="1" type="checkbox"> Send me text message updates</label></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group"><label for="signup_submitted_address">Mailing Address (Street, City, State, Postal code)</label><input class="text form-control" id="signup_submitted_address" name="signup[submitted_address]" type="text"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="checkbox"><label for="signup_activity_is_private"><input name="signup[activity_is_private]" value="0" type="hidden"><input class="checkbox" id="signup_activity_is_private" name="signup[activity_is_private]" value="1" type="checkbox"> Don't publish this on the website</label></div>
            </div>
          </div>
          <input class="submit-button btn btn-primary" name="commit" value="Signup" type="submit">
          <div class="form-submit"></div>
        </form>
      </div>
      <!-- /form -->
    </div>
    <!-- /form-wrap -->
</div>

{{ partial "footer.html" . }}
