{{ partial "head.html" . }} {{ partial "nav.html" . }}
<div class="main container clearfix pt-5 pb-5">
  <!-- _columns_1.html -->
  <div class="column content-pages-show-signup-wide">
    <h2 class="headline">Mailing List Signup</h2>
    <div id="content">
      <div class="form-wrap">
        <div class="form">
          <form id="mailing_list_signup_page_new_signup_form" class="ajaxForm signup_form" method="POST" action="https://ssdp.org/forms/mailing-list.php" enctype="multipart/form-data">
            <div class="email_address_form" style="display:none;" aria-hidden="true">
              <p><label for="email_address">Optional email code</label><br><input name="email_address" class="text" id="email_address" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"
                  type="text"></p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group"><label for="signup_first_name">First Name</label><input class="text form-control" id="signup_first_name" name="first_name" type="text"></div>
              </div>
              <div class="col-md-6">
                <div class="form-group"><label for="signup_last_name">Last Name</label><input class="text form-control" id="signup_last_name" name="last_name" type="text"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group"><label for="signup_email">Email</label><input class="text form-control" id="signup_email" name="email" type="email"></div>
              </div>
              <div class="col-md-6">
                <div class="form-group"><label for="signup_mobile_number">Mobile phone</label><input class="text form-control" id="signup_mobile_number" name="mobile_number" type="tel"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox"><label for="signup_email_opt_in"><input name="signup[email_opt_in]" value="0" type="hidden"><input class="checkbox" checked="checked" id="signup_email_opt_in" name="email_opt_in" value="1" type="checkbox"> Send me email updates</label></div>
              </div>
              <div class="col-md-6">
                <div class="checkbox"><label for="signup_mobile_opt_in"><input name="signup[mobile_opt_in]" value="0" type="hidden"><input class="checkbox" checked="checked" id="signup_mobile_opt_in" name="mobile_opt_in" value="1" type="checkbox"> Send me text message updates</label></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group"><label for="signup_submitted_address">Address (Street, City, State, Postal code)</label><input class="text form-control" id="signup_submitted_address" name="submitted_address" type="text"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="checkbox"><label for="signup_is_volunteer"><input name="signup[is_volunteer]" value="0" type="hidden"><input class="checkbox" id="signup_is_volunteer" name="is_volunteer" value="1" type="checkbox"> I want to volunteer</label></div>
              </div>
            </div>
  
            <input class="submit-button btn btn-primary" name="commit" value="Signup" type="submit">
            <div class="form-submit"></div>
          </form>
        </div>
        <!-- /form -->
      </div>
      <!-- /form-wrap -->
    </div>
    <!-- /content -->
  </div>
</div>
<!-- .column -->
{{ partial "footer.html" . }}
