{{ partial "head.html" . }} {{ partial "nav.html" . }}
<style>
h2 {
  text-align: center;
}
  .grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-flow: dense;
  }

  .materials-logos-and-photos,
  .materials-sample-chapter-materials,
  .materials-stickers-and-bugs,
  .materials-handouts,
  .materials-flyers-and-posters {
    grid-column: 2 / 12;
  }
</style>

<div class="grid">
  <h1 style="grid-column: 1/-1; text-align: center;">SSDP Materials</h1>
  <div class="materials-logos-and-photos p-1">
      <div><h2 class="p1"><a href="https://drive.google.com/drive/folders/0B7fh6jX33lH5YlRYM05tMzc2RFU?usp=sharing">SSDP logos</a> and <a href="https://photos.google.com/share/AF1QipMDjQaXl5_kPXgCruoWBAosHn7hH0bTsRztkSHvG_H6DfNHjMjQrLWBC0vPfXgMkw?key=YUhvSHlsUzc0WEFZTDk0SGRQRjZfS0dYT3ZDWkNB">stock photos</a></h2>
        <iframe src="https://drive.google.com/embeddedfolderview?id=0B7fh6jX33lH5YlRYM05tMzc2RFU#grid" width="100%" height="250px" frameborder="0"></iframe>
      </div>
  </div>

  <div class="materials-sample-chapter-materials p-1">
    <div><h2 class="p1">Sample Chapter Materials</h2>
      <iframe src="https://drive.google.com/embeddedfolderview?id=0B7fh6jX33lH5WGwzZkdveTRoYnc#grid" width="100%" height="250px" frameborder="0"></iframe>
    </div>
  </div>

  <div class="materials-stickers-and-bugs p-1">
    <div><h2 class="p1">Stickers and bugs</h2>
      <iframe src="https://drive.google.com/embeddedfolderview?id=0B7fh6jX33lH5Q0RlRE1jQzRjS00#grid" width="100%" height="250px" frameborder="0"></iframe>
    </div>
  </div>

  <div class="materials-handouts p-1">
    <div><h2 class="p1">Handouts and educational materials (drug war info, SSDP brochures, stickers, and other printable materials)</h2>
      <iframe src="https://drive.google.com/embeddedfolderview?id=0B7fh6jX33lH5Y095aE04MURyOEk#grid" width="100%" height="250px" frameborder="0"></iframe>
    </div>
  </div>

  <div class="materials-flyers-and-posters p-1">
    <div><h2 class="p1">Flyers and Posters</h2>
      <iframe src="https://drive.google.com/embeddedfolderview?id=1LCn8QkP1NveAWljvDmdTZPHPtQGfrbs7#grid" width="100%" height="250px" frameborder="0"></iframe>
    </div>
  </div>
</div>
{{partial "footer.html" . }}
