{{ partial "head.html" . }} {{ partial "nav.html" . }}
<style>
.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-auto-flow: dense;
}

.bio-row {
  grid-column: 1 / -1;
}

.bio-image {
  grid-column: 1 / 3;
}

.text-row {
  grid-column: 4 / -1;
}
.bio-image img {
  max-width: 100%;
  border-radius: 50%;
}
</style>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center">{{.Params.region}} Region</h1>
      <hr>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col">
    {{ range .Pages}}
    <a href="{{ .RelPermalink }}"><button class="btn btn-john-walsh-ssdp m-1" style="text-transform: uppercase;">{{ .Params.state_name }} >></button></a>
    {{ end }}
  </div>
  </div>
</div>
<div class = "grid">
  <div class="bio-row p-5 grid" style="background-color: #eeeeee">
    <div class="text-row">
    <h2>{{.Params.mbf}}</h2>
    <h3> {{.Params.mbf_title}} - {{.Params.region}} Region</h3>
    <p>{{.Params.mbf_bio}}</p>
  </div>
    <div class="bio-image">
    <img src="{{.Params.mbf_photo}}" />
  </div>
  </div>

</div>
 {{partial "footer.html" . }}
