{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<div class="container">
  <div class="row p-1">
    <div class="col">
      <h1 style="text-align: center">Staff</h1>
      <hr />
      <span style="text-align: center; font-style:italic">SSDP’s international staff is based in Washington, D.C. with offices in Denver and Oakland and is employed to serve, represent, and support our chapter network.</span>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-3">
      <img style="width: 100%"src="img/bw-betty_bigsmile.jpeg" />
      <div class="staff-name">Betty Aldworth</div>
      <div class="staff-title">Executive Director</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/betty.aldworth" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <a href="https://twitter.com/bettyaldworth" target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a>
        <a href="mailto:betty@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/betty-aldworth">Bio ></a></div>
    </div>

    <div class="col-sm">
      <img style="width: 100%"src="img/bw-stacia.jpeg" />
      <div class="staff-name">Stacia Cosner '05</div>
      <div class="staff-title">Deputy Director</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/TheStacia" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <a href="https://twitter.com/TheStacia" target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a>
        <a href="mailto:stacia@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/stacia-cosner">Bio ></a></div>
    </div>

    <div class="col-sm">
      <img style="width: 100%"src="img/bw-lauren.jpeg" />
      <div class="staff-name">Lauren Padgett</div>
      <div class="staff-title">Development Director</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/lauren.padgett" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <!-- <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a> -->
        <a href="mailto:lauren@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/lauren-padgett">Bio ></a></div>
    </div>

    <div class="col-sm">
      <img style="width: 100%"src="img/Rachel-bw.jpg" />
      <div class="staff-name">Rachel Wissner '11</div>
      <div class="staff-title">Development and Events Associate</div>
      <div class="staff-social">
        <!-- <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a> -->
        <a href="https://twitter.com/drugwaractivist" target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a>
        <a href="mailto:rachel@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/rachel-wissner">Bio ></a></div>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-sm">
      <img style="width: 100%"src="img/bw-jake.jpeg" />
      <div class="staff-name">Jake Agliata '11</div>
      <div class="staff-title">International Program Manager</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/jake.agliata" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <!-- <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a> -->
        <a href="mailto:jake@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/jake-agliata">Bio ></a></div>
    </div>

    <div class="col-sm">
      <img style="width: 100%"src="img/bw-elise.jpeg" />
      <div class="staff-name">Elise Szabo '14</div>
      <div class="staff-title">Movement Building Fellow</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/elise.szabo" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <a href="https://twitter.com/elisemszabo" target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a>
        <a href="mailto:elise@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/elise-szabo">Bio ></a></div>
    </div>

    <div class="col-sm">
      <img style="width: 100%"src="img/bw-luis.jpeg" />
      <div class="staff-name">Luis Montoya '16</div>
      <div class="staff-title">Movement Building Fellow</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/profile.php?id=100017723058545" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <!-- <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a> -->
        <a href="mailto:luis@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/luis-montoya">Bio ></a></div>
    </div>

    <div class="col-sm">
      <img style="width: 100%"src="img/Hannah-bw.jpg" />
      <div class="staff-name">Hannah Procell '15</div>
      <div class="staff-title">Advocacy Fellow</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/hannahprocell0702" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <!-- <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a> -->
        <a href="mailto:hannah@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/hannah-procell">Bio ></a></div>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-sm">
      <img style="width: 100%"src="img/bw-vilmarie.jpeg" />
      <div class="staff-name">Vilmarie Fraguada Narloch, Psy.D. '09</div>
      <div class="staff-title">Drug Education Manager</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/vil.murrays" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <!-- <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a> -->
        <a href="mailto:vilmarie@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/vilmarie-fraguada-narloch">Bio ></a></div>
    </div>

    <div class="col-sm">
      <img style="width: 100%"src="img/bw-Tyler.jpeg" />
      <div class="staff-name">Tyler Williams '11</div>
      <div class="staff-title">Systems Administrator</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/tylerwilliamsct" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <a href="https://twitter.com/tylerwilliamsct" target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a>
        <a href="mailto:tyler@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/tyler-williams">Bio ></a></div>
    </div>

    <div class="col-sm">
      <img style="width: 100%"src="img/Nick-bw.jpg" />
      <div class="staff-name">Nick Zettell '09</div>
      <div class="staff-social">
        <a href="https://www.facebook.com/nick.zettell" target="_blank" rel="noopener"><i class="fab fa-facebook-f text-orange-ssdp"></i></a>
        <!-- <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter text-orange-ssdp"></i></a> -->
        <a href="mailto:nick@ssdp.org" target="_blank" rel="noopener"><i class="fas fa-envelope text-orange-ssdp"></i></a>
      </div>
      <hr />
      <div style="text-align: center"><a href="/staff/nick-zettell">Bio ></a></div>
    </div>

    <div class="col-sm"></div>

  </div>
</div>
  {{ partial "footer.html" . }}
