<div class="container">
  <div class="row">
    <div class="col">
      <h1>Staff</h1>
      <hr />
      <span>SSDP’s international staff is based in Washington, D.C. with offices in Denver and Oakland and is employed to serve, represent, and support our chapter network.</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img src="bw-betty_bigsmile.jpeg" />
      <div class="staff-name">Betty Aldworth</div>
      <div class="staff-title">Executive Director</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>

    <div class="col-sm-3">
      <img src="bw-stacia.jpeg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>

    <div class="col-sm-3">
      <img src="bw-lauren.jpeg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>

    <div class="col-sm-3">
      <img src="Rachel-bw.jpg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <img src="bw-jake.jpeg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>

    <div class="col-sm-3">
      <img src="bw-elise.jpeg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>

    <div class="col-sm-3">
      <img src="bw-luis.jpeg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>

    <div class="col-sm-3">
      <img src="Hannah-bw.jpg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <img src="bw-vilmarie.jpeg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>

    <div class="col-sm-3">
      <img src="bw-Tyler.jpeg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>

    <div class="col-sm-3">
      <img src="Nick-bw.jpg" />
      <div class="staff-name">Staff Name</div>
      <div class="staff-title">Staff Title</div>
      <div class="staff-social">
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a href=" " target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      </div>
      <hr />
      <div><a href=" ">Bio ></a></div>
    </div>

  </div>
