<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-flow: dense;
  }

  .title,
  .left-icon,
  .right-text,
  .right-icon,
  .left-text,
  .join {
    grid-column: 1 / -1;
  }

  @media all and (min-width: 700px) {
    .left-icon {
      grid-column: 1 / 5;
    }

    .right-icon {
      grid-column: 9 / 13
    }

    .left-text {
      grid-column: 1 /9;
    }

    .right-text {
      grid-column: 5 / 13;
    }
  }
</style>

<div class="grid">
  <div class="title">
    <h1>SSDP ORGANIZATIONAL OBJECTIVES</h1>
    <h2>July 1, 2018 - June 30, 2019</h2>
  </div>
  <div class="left-icon">
    <img />
    <h3>Movement Building</h3>
  </div>
  <div class="right-text">
    <h3>Strengthening the network</h3>
    <hr />
    <ul>
      <li>We will support 4,500 students for sensible drug policy in 50 US states and 32 countries.</li>
      <li>We will continue to develop and grow the SSDP Alumni Association program, more strongly connecting students to Alumni members through the mentorship program, keeping Alumni engaged as advocates, and developing Alumni as philanthropists. Membership
        will grow to more than 260 members.</li>
      <li>We will provide meaningful, region-specific resources and support to our international chapter network and seek out opportunities to empower international SSDP chapters within the SSDP network.</li>
      <li>We will pilot a program to recruit and train four Regional Fellows in global regions with high levels of SSDP activity that will enhance the capacity of our chapters to engage in meaningful policy change and coalition building.</li>
      <li>We — staff and members — will collaborate with allies from across the political spectrum and non-drug policy reform groups to spread our message of reform.</li>
      <li>We will actively engage our stakeholders through regular, meaningful, and carefully curated contact.</li>
      <li>We will seize compelling opportunities to address external audiences concerning drug policy reform and to engage in public dialogues.</li>
    </ul>
  </div>
  <div class="left-icon">
    <img />
    <h3>Movement Building</h3>
  </div>
  <div class="right-text">
    <h3>Bringing People Together</h3>
    <hr />
    <ul>
      <li>Our staff will utilize professional best practices in event planning, execution, and evaluation.</li>
      <li>We will work with local chapters and Alumni Association members to host state and regional training, advocacy, or educational events, attended by an average of 50 participants, in 8 locations.</li>
      <li>We will successfully execute the SSDP2019 Conference in Spring 2019 with at least 350 attendees.</li>
      <li>We will connect donors, alumni, and student members by hosting networking receptions in major cities and supporting members in hosting networking and fundraising events.</li>
    </ul>
  </div>

  <div class="left-icon">
    <img />
    <h3>Movement Building</h3>
  </div>
  <div class="right-text">
    <h3>Creating Safe Spaces and Fostering Diversity</h3>
    <hr />
    <ul>
      <li>We will provide a welcoming, open, and safe space for all stakeholders, but especially our members, including those who stand in conflict on other issues, and work to ensure that a wide range of perspectives are represented.</li>
      <li>We will actively seek out opportunities for collaboration with other organizations, including non-drug policy reform groups and those beyond our traditional allies.</li>
      <li>The Diversity, Awareness, Reflection, and Education Committee will create and/or compile resources to assist chapters navigating diversity issues on their campuses, which staff will make accessible to chapters. DARE will assist staff in navigating
        diversity issues at the organizational level.</li>
      <li>We will make every attempt to ensure that SSDP events, including conferences, provide a welcoming environment for current and potential members. We will strive to provide recognition of their lived experiences, i.e. first-hand accounts and impressions
        of life as a member of a marginalized group.</li>
      <li>The Historically Black Colleges and Universities (HBCU) Working Group will receive resources and support to expand SSDP’s engagement with historically Black colleges and universities and support more African American students in the SSDP network.</li>
      <li>The International Organizing Committee (IOC) will work with staff to ensure our existing chapter materials are globally applicable and curate new, region-specific advocacy materials for our international chapters, including translation of resources
        into Spanish and other languages.</li>
    </ul>
  </div>
  <div class="right-icon">
    <img />
    <h3>Education and Advocacy</h3>
  </div>
  <div class="left-text">
    <h3>Pushing the policy envelope and speaking truth to power</h3>
    <hr />
    <ul>
      <li>We will provide training, mentorship, and resources to change campus and local policies and empower our membership with timely opportunities to take action on legislation, rule making, and calls for input, including meeting with elected officials
        and decision makers.</li>
      <li>We will generate thousands of communications to government officials and decision makers.</li>
      <li>Our staff will publish and maintain data on campus drug policies through the Campus Policy Gradebook to serve as expert resources on these issues.</li>
    </ul>
  </div>

  <div class="right-icon">
    <img />
    <h3>Education and Advocacy</h3>
  </div>
  <div class="left-text">
    <h3>Educating and Empowering Students</h3>
    <hr />
    <p>We will provide students with a rich menu of activities to undertake in three change-making pathways: 1) movement building, including recruitment, leadership training, skills-building, and community organizing; 2) education, including peer education;
      and 3) advocacy, including changing policies from the campus to the UN. We will do this work through an intersectional lens that includes harm reduction and public health, international drug policy, human rights, racial justice, civil rights, and
      constitutional rights.</p>
    <p>We will provide students with training in the three pathways of movement building, advocacy, and education through:</p>
    <ul>
      <li>Conducting skills-building workshops with a total of 500 attendees,</li>
      <li>Providing more than 1000 one-on-one coaching sessions to students, and</li>
      <li>Maintaining accessible, navigable, and up-to-date resources and educational materials addressing at least the following policy issues:</li>
      <ul>
        <li>Campus change</li>
        <li>Access to Harm Reduction Tools</li>
        <li>Amending the Rave Act</li>
        <li>Call 911 Good Samaritan Policies</li>
        <li>Confidential Informant Protections</li>
        <li>Drug Decriminalization</li>
        <li>Global Drug Policy</li>
        <li>Higher Education Act</li>
        <li>Lowering the Drinking Age</li>
        <li>Marijuana Policy Reform</li>
        <li>Psychedelic Policy Reform</li>
        <li>Other toolkits developed by students and published by SSDP</li>
      </ul>
    </ul>
    <p>We will connect our students and alumni with opportunities for professional development, including volunteer opportunities and employment with allied organizations.</p>
    <p>We will effectively utilize our United Nations Economic and Social Council (ECOSOC) consultative status with the United Nations to empower our students to participate in global drug policy reform and ensure that the youth voice of the drug policy
      reform movement is represented at UN events where drug policy is relevant.</p>
    <p>We will facilitate active youth participation at drug policy conferences and events and SSDP participation in related conferences and events which are not specific to drug policy.</p>
    <p>The Just Say Know peer education program will promote open and honest dialogue around drug use, drug policy, and drug culture.</p>
    <ul>
      <li>The Drug Education Manager will deliver at least 13 Just Say Know Training Curriculum webinars</li>
      <li>65 students will begin the Just Say Know training curriculum</li>
      <li>We will train and certify 10 new SSDP Just Say Know Educators</li>
      <li>SSDP certified Just Say Know educators will deliver 20 Just Say Know modules or other Just Say Know Education lessons to their peers and/or those in their community</li>
      <li>SSDP certified Just Say Know educators will collect 5 evaluations from each Just Say Know module or other Just Say Know Education lessons they present</li>
      <li>SSDP certified Just Say Know educators will provide informal drug education, harm reduction, and other Just Say Know related knowledge to their peers</li>
      <li>SSDP certified Just Say Know educators will collaborate with their campus health promotion, wellness, counseling, or other related departments to disseminate Just Say Know knowledge and education to their campus community</li>
      <li>SSDP members will assist the Drug Education Manager in developing 2 new Just Say Know modules</li>
    </ul>
  </div>

  <div class="right-icon">
    <img />
    <h3>Education and Advocacy</h3>
  </div>
  <div class="left-text">
    <h3>Defining High-Quality Activists and Chapters</h3>
    <hr />
    <p>Overall, a majority of our chapters will be high-quality, meaning the chapter earns a quarterly average of 50 CAT Points or achieves two of the three following benchmarks:</p>
    <p>(1) earns 20 CAT Points by engaging in a campaign to change at least one drug policy at the campus, local, state level, federal, or international level through activities such as lobbying, submitting letters to the editor, passing student government
      resolutions, changing a policy, and submitting a case study on a policy change campaign.</p>
    <p>(2) earns 20 CAT Points through educational activities such as hosting Just Say Know and other educational events, hosting film screenings or debates, distributing educational materials, and engaging in direct service volunteering.</p>
    <p>(3) earns 20 CAT Points through chapter-building activities such as attending leadership trainings, hosting regular chapter meetings, recruiting and training officers, tabling on campus, and building/maintaining relationships with other organizations
      on campus.</p>
  </div>

  <div class="left-icon">
    <img />
    <h3>Organizational Development</h3>
  </div>
  <div class="right-text">
    <h3>Effectively Managing our Finances</h3>
    <hr />
    <ul>
      <li>Reporting will be up-to-date, including semi-monthly balance reports, quarterly profit and loss and budget-to-actual reports, and other information required to maintain excellent fiscal health.</li>
      <li>Expenditures will be carefully managed and decisions about expenditures will include analysis accounting for hard costs, staff time, and the value of the opportunity.</li>
      <li>Opportunities to save through discounts and in-kind support will be sought out, and all staff will responsibly manage finances and spending according to nonprofit best practices and with an eye for efficiency.</li>
    </ul>
  </div>

  <div class="left-icon">
    <img />
    <h3>Organizational Development</h3>
  </div>
  <div class="right-text">
    <h3>Managing to Change the World</h3>
    <hr />
    <ul>
      <li>SSDP will be well-managed.</li>
      <li>The Directors of the Board will hold themselves accountable for carrying out their responsibilities and will conduct annual reviews of the conflict of interest policy.</li>
      <li>Board and staff will actively ensure compliance with government regulations and industry best practices, invest in keeping in organizational good standing, and seek to understand and mitigate liabilities.</li>
      <li>Staff will feel appreciated and be given regular and prompt feedback about their performance, both regarding what they do well and where they need to improve.</li>
      <li>Additionally, staff members’ performance will be formally reviewed annually and salary will be assessed at that time; salaries and benefits will be fair, competitive with organizations of similar size and scope, and will reward excellence.</li>
      <li>Expectations will be clearly set and understood and deadlines normally met.</li>
      <li>Staff will proactively communicate with and promptly respond to the Board of Directors according to their appropriate roles.</li>
      <li>Staff will quantify organizational accomplishments and make every effort to capture and maintain institutional knowledge.</li>
      <li>Conflicting priorities will be addressed and readjusted as needed.</li>
      <li>Staff will improve their professional abilities and proactively seek new opportunities for growth, participating in at least two professional development opportunities annually.</li>
      <li>SSDP will provide a robust and meaningful internship experience by ensuring interns have ownership over projects, regular feedback, and access to unique opportunities outside of the day-to-day functions of the organization.</li>
    </ul>
  </div>

  <div class="left-icon">
    <img />
    <h3>Organizational Development</h3>
  </div>
  <div class="right-text">
    <h3>Staying Sensible</h3>
    <hr />
    <ul>
      <li>Our organization will prioritize stability and maintain a high standard of quality, ensuring that expansion is managed responsibly when it occurs.</li>
      <li>Staff and board members will actively communicate concerns in an open manner, and decision makers will empower critical dialogue.</li>
      <li>Our staff will embody a culture of excellence that emphasizes going above and beyond to reflect the following core values: efficiency, transparency, humility, optimism, inclusiveness, light-heartedness, diligence, objectivity, self-care, compassion,
        and consistency.</li>
    </ul>
  </div>
<div class="join">
  <h4>Will you join us to end the war on drugs today?</h4>
  <button style="float: right;">Join the Sensible Society</button>
</div>
