<footer class="footer bg-navy-ssdp">
      <div class="container p-5">
        <span class="text-teal-ssdp">© 2017 Students for Sensible Drug Policy   |  1011 O Street NW #1 Washington, DC 20001   |  202-393-5280 | ssdp@ssdp.org</span>
        <a target="_blank" href="https://www.youtube.com/user/SSDP" class="ssdp-footer-soc-icon" title="YouTube" style="opacity: 0.9;">
          <i class="fab fa-youtube"></i></a>
        <a target="_blank" href="https://www.instagram.com/schoolsnotprisons/" class="ssdp-footer-soc-icon" title="Instagram" style="opacity: 0.9;">
        <i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://twitter.com/ssdp" class="ssdp-footer-soc-icon" title="Twitter" style="opacity: 0.9;">
        <i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/ssdp/" class="ssdp-footer-soc-icon" title="Facebook" style="opacity: 0.9;">
        <i class="fab fa-facebook-f"></i></a>
      </div>
    </footer>

<!-- Bootstrap reqs -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Local Bootstrap JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>

</html>
