<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">SSDP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Mission and Values</a>
              <a class="dropdown-item" href="#">History</a>
              <a class="dropdown-item" href="#">Strategy</a>
              <a class="dropdown-item" href="#">Staff</a>
              <a class="dropdown-item" href="#">Board of Directors</a>
              <a class="dropdown-item" href="#">Advisory Council</a>
              <a class="dropdown-item" href="#">Annual Reports and Financial Statements</a>
              <a class="dropdown-item" href="#">Careers & Internships</a>
              <a class="dropdown-item" href="#">Contact</a>
              <a class="dropdown-item" href="#">Subscribe</a>
            </div>
          </li>
          <a class="nav-link" href="#">Link</a> {{ if .Site.Menus.main }} {{ range sort .Site.Menus.main }}
          <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }} {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>
