<header>
  <div class="ssdp-full-header">
    <div id="subheader" class="container">
      <div class="section">
        <div class="ssdp-header-contacts text-john-walsh-ssdp">
          <a class="" href="mailto:ssdp@ssdp.org" target="" data-toggle="tooltip" data-placement="" title="">
            <div class="ssdp-header-contact-item"><i class="fas fa-envelope"></i> ssdp@ssdp.org</div>
          </a>
          <div class="ssdp-header-contact-item"><i class="fas fa-mobile-alt"></i> 202-393-5280</div>
        </div>
        <a target="_blank" href="https://www.youtube.com/user/SSDP" class="ssdp-header-soc-icon" title="YouTube" style="opacity: 0.9;">
          <i class="fab fa-youtube"></i></a>
        <a target="_blank" href="https://www.instagram.com/schoolsnotprisons/" class="ssdp-header-soc-icon" title="Instagram" style="opacity: 0.9;">
        <i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://twitter.com/ssdp" class="ssdp-header-soc-icon" title="Twitter" style="opacity: 0.9;">
        <i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/ssdp/" class="ssdp-header-soc-icon" title="Facebook" style="opacity: 0.9;">
        <i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/">
      <img src="img/SSDP20-logo-transparent.png" />
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/mission">Mission and Values</a>
              <a class="dropdown-item" href="/history">History</a>
              <a class="dropdown-item" href="/strategy">Strategy</a>
              <a class="dropdown-item" href="/staff">Staff</a>
              <a class="dropdown-item" href="/board">Board of Directors</a>
              <a class="dropdown-item" href="/advisory-council">Advisory Council</a>
              <a class="dropdown-item" href="/reports">Annual Reports and Financial Statements</a>
              <a class="dropdown-item" href="/contact">Contact</a>
              <a class="dropdown-item" href="/subscribe">Subscribe</a>
            </div>
          </li>
          <a class="nav-link" href="#">Donate</a> {{ if .Site.Menus.main }} {{ range sort .Site.Menus.main }}
          <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }} {{ end }}
        </ul>
      </div>
    </div>

  </nav>
  <div class="row bg-john-walsh-ssdp" style="height:35px"></div>
</header>
