// Add SSDP brand colors to map
// Adding to map has to be done BEFORE importing bootstrap
$theme-colors: (
  "john-walsh-ssdp": #136F8D,
  "teal-ssdp": #17BEBB,
  "chartreuse-ssdp": #DAF702,
  "orange-ssdp": #FAA732,
  "navy-ssdp": #003249,
  "gray-ssdp": #636467
);

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base: 'Open Sans', sans-serif;

@import "bootstrap";

// Import Montserrat font
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Import Open Sans Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Set HTML to Open Sans default
html {
    font-family: 'Open Sans', sans-serif;
}

// Set all headings to Montserrat
h1, h2, h3, h4, h5, h6, .nav-link {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

// Set heading colors

h1 {
  color: #136F8D;
}

h2 {
  color: #636467;
}

h3 {
  color: #FAA732;
}

h4 {
  color: #136F8D;
}

h5 {
  color: #003249;
}

/** Custom Nav Styles **/
.ssdp-full-header {
  border-bottom: 1px solid #eee;
  background: #fbfbfb;
  padding: 6px 0;
}

@media only screen and (max-width: 768px) {
  .ssdp-full-header {
    display: none;
  }
}

.ssdp-header-contacts {
  font-size: 13px;
  line-height: 24px;
  float: left;
}

.ssdp-header-contact-item{
  float: right;
  margin-right: 22px;
}

.ssdp-header-soc-icon {
  line-height: 18px;
  font-size: 17px;
  padding: 0px 6px 0;
  margin: 5px 0 0;
  display: inline-block;
  float: right;
  opacity:0.9;
}

.nav {
  margin: 30px auto;
}

.navbar-brand {
  max-width: 100px;
}

.navbar-nav {
  float: right;
}

.navbar-nav > li > a {
  text-transform: uppercase;
}

/** Custom Button Styles **/

.ssdp-round-button {
  color: #fff;
  border: 2px solid #f8f8f8;
  background: transparent;
  border-radius: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 13px;
}
/** Icons on Home Page **/
.ssdp-front-page-icon {
  color: #fff;
  float: left;
  font-size: 50px;
  margin-right: 10px;
}

/** Custom Headers **/
.ssdp-front-page-header {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0px;
}

/** Carousel Styles **/

.item > p {
  color: #fff;
  font-size: 16px;
  font-style: italic;
  line-height: 28px;
  text-align: center;
}

.item > h3 {
  color: #fff;
  text-align: center;
}
